<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite>
<suite name="Suite">
    <test thread-count="5" name="Test">
        <classes>
            <class name="testCases.RegisterPageTest"/>
            <class name="testCases.TC_RF_003"/>
            <class name="testCases.TC_RF_004"/>
            <class name="testCases.TC_RF_005"/>
            <class name="testCases.TC_RF_006"/>
            <class name="testCases.TC_RF_008"/>
            <class name="testCases.TC_RF_009"/>
            <class name="testCases.TC_RF_010"/>
            <class name="testCases.TC_RF_011"/>
            <class name="testCases.TC_RF_012"/>
            <class name="testCases.TC_RF_013"/>
            <class name="testCases.TC_RF_014"/>
            <class name="testCases.TC_RF_016"/>
            <class name="testCases.TC_RF_017"/>
            <class name="testCases.TC_RF_018"/>
            <class name="testCases.TC_RF_019"/>
            <class name="testCases.TC_RF_020"/>
            <class name="testCases.TC_RF_021"/>
            <class name="testCases.TC_RF_022"/>
            <class name="testCases.TC_RF_023"/>
            <class name="testCases.TC_RF_024"/>
            <class name="testCases.TC_RF_025"/>
            <class name="testCases.TC_RF_026"/>
            <class name="testCases.TC_RF_027"/>
        </classes>
    </test>
</suite>
